
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log Again</title>
</head>
<body>
    <div><h3>@ViewData["Imie"]</h3></div>
    <div>Error! You have to log again...</div>
    <div class="form-group">
        <a asp-controller="Home" asp-action="Index" class="btn btn-info">Back to main page</a>
    </div>
</body>
</html>
