@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>


<h4>Change your account settings</h4>
<hr />

@await Html.PartialAsync("_ManageNav")

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}

