<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Smitair</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Systems of Music Instruments Technology">
    <meta name="author" content="Marcin Horczak & Dawid Nowak">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/scss/style.css" />
</head>
<body>
    <div class="upper">
        <div class="logo">
            <img src="~/images/logo.svg">
        </div>
        @await Html.PartialAsync("_LoginPartial")
    </div>

    @if (ViewBag.Panel == 1)
    {
        <div class="rows">
            <div class="container-fluid">
                <div class="row content">
                    @await Html.PartialAsync("_MenuPartial")
                    <div class="col-sm-9">
                        <div class="container body-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }


    <footer class="container-fluid text-center">
    <p>&copy; 2017 - SmitairDOTNET</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
