body {
  background-color: #b6b6b6;
  width: 100%;
  min-width: 300px;
  height: 0px;
  overflow-x: hidden; }

.upper {
  text-align: center;
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 1; }
  .upper .logo {
    position: absolute;
    left: 50%; }
    .upper .logo img {
      position: relative;
      left: -50%;
      width: 152px;
      height: 50px; }
  .upper .nav.navbar-nav.navbar-right li {
    height: 50px;
    color: #ff0000; }
    .upper .nav.navbar-nav.navbar-right li .user {
      margin-top: 0px;
      padding-top: 5px;
      margin-bottom: 0px;
      padding-bottom: 5px; }
    .upper .nav.navbar-nav.navbar-right li a {
      text-align: left; }
    .upper .nav.navbar-nav.navbar-right li img {
      margin-top: 9px; }
  .upper .avatar {
    right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 20px; }
  .upper .nav {
    margin-right: 30px; }
  .upper .user, .upper span {
    color: #FFFFFF; }
  .upper li {
    color: #FFFFFF; }
  .upper li:hover {
    background-color: #FFFFFF; }
    .upper li:hover span {
      color: #E96E00; }

.carousel {
  width: 100%;
  max-height: 100vh;
  margin-top: -25px;
  margin-bottom: 25px; }
  .carousel .carousel-indicators {
    margin-bottom: 25px; }
  .carousel .carousel-control {
    padding-top: 25px;
    padding-bottom: 25px; }

.navparent {
  position: relative;
  z-index: 100;
  top: -50px;
  width: 100%; }
  .navparent .navbar {
    position: absolute;
    margin-bottom: 0px;
    border-bottom: 0px;
    width: 100%; }

.sections {
  position: relative; }
  .sections #section1 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #b4b4b4;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section1 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section1 p {
      font-size: 30px;
      color: #6e6e6e; }
  .sections #section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #6e6e6e;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section2 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section2 p {
      font-size: 30px;
      color: #b4b4b4; }
  .sections #section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #b4b4b4;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section3 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section3 p {
      font-size: 30px;
      color: #6e6e6e; }
  .sections #section4 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #6e6e6e;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section4 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section4 p {
      font-size: 30px;
      color: #b4b4b4; }
  .sections #section5 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #b4b4b4;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section5 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section5 p {
      font-size: 30px;
      color: #6e6e6e; }
  .sections #section6 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #6e6e6e;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section6 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section6 p {
      font-size: 30px;
      color: #b4b4b4; }
  .sections #section7 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #b4b4b4;
    padding-left: 30px;
    padding-right: 30px; }
    .sections #section7 h1 {
      color: #222222;
      font-size: 60px; }
    .sections #section7 p {
      font-size: 30px;
      color: #6e6e6e; }

.container-fluid {
  display: table;
  height: 0px;
  width: 100%;
  padding: 0px; }

.navparent .container-fluid li:hover {
  background-color: #FFFFFF; }
  .navparent .container-fluid li:hover a {
    color: #E96E00; }

.rows {
  height: 100%;
  width: 100%; }
  .rows .navbar {
    margin-bottom: 0;
    border-radius: 0; }
  .rows .row.content {
    height: 100%; }
    .rows .row.content .col-sm-3 {
      background: #808080;
      height: calc(100vh - 50px);
      background-clip: content-box;
      padding: 0px;
      position: relative;
      top: -50px;
      padding-top: 50px; }
      .rows .row.content .col-sm-3 a:hover, .rows .row.content .col-sm-3 a:visited, .rows .row.content .col-sm-3 a:link, .rows .row.content .col-sm-3 a:active {
        text-decoration: none;
        color: #FFFFFF; }
      .rows .row.content .col-sm-3 button {
        border: 0px;
        background-color: #808080;
        text-align: left;
        padding: 0px; }
      .rows .row.content .col-sm-3 .list-group, .rows .row.content .col-sm-3 .panel-group {
        border-radius: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
        color: #FFFFFF; }
        .rows .row.content .col-sm-3 .list-group .list-group-item, .rows .row.content .col-sm-3 .list-group .panel-heading, .rows .row.content .col-sm-3 .panel-group .list-group-item, .rows .row.content .col-sm-3 .panel-group .panel-heading {
          border-radius: 0px;
          border: 0px;
          background-color: #808080; }
        .rows .row.content .col-sm-3 .list-group .list-group-item:hover, .rows .row.content .col-sm-3 .list-group .panel-heading:hover, .rows .row.content .col-sm-3 .panel-group .list-group-item:hover, .rows .row.content .col-sm-3 .panel-group .panel-heading:hover {
          background-color: #E96E00; }
          .rows .row.content .col-sm-3 .list-group .list-group-item:hover button, .rows .row.content .col-sm-3 .list-group .panel-heading:hover button, .rows .row.content .col-sm-3 .panel-group .list-group-item:hover button, .rows .row.content .col-sm-3 .panel-group .panel-heading:hover button {
            border: 0px;
            background-color: #E96E00;
            text-align: left;
            padding: 0px; }
    .rows .row.content .col-sm-9 {
      background: #b6b6b6;
      background-clip: content-box;
      height: 100%;
      max-height: inherit;
      padding: 0px;
      padding-bottom: 60px;
      text-align: left; }
      .rows .row.content .col-sm-9 table tr th {
        text-align: left; }

footer {
  background-color: #222;
  color: white;
  height: 50px !important;
  width: 100%;
  bottom: 0px;
  position: relative;
  text-align: center;
  z-index: 10 !important; }
  footer p {
    padding-top: 15px; }

/*# sourceMappingURL=style.css.map */
