$upper_color: #2D2E28;
$login_color: #FFFFFF;
$menu_height: 50px;

$menu_height_div2: $menu_height/2;

body{
    background-color: orange;
    width: 100%;
    min-width: 480px;
    height: 0px;
}

.upper {
    background-color: $upper_color;
    text-align: center;
    width: 100%;
    height: $menu_height;
    position: relative;
    z-index: 1;

    .logo {
        position: absolute;
        left: 50%;

        img {
            position: relative;
            left: -50%;
            width: 152px;
            height: 50px;
        }
    }
    /*.language{
        position: absolute;
        right: 70px;
    }
    .dropdown{
        position: absolute;
        right: 10px;
    }
    #login-dp{
        min-width: 270px;
        padding: 14px 14px 0;
        overflow: hidden;
        background-color: rgba($login_color,.8);
        .bottom{
            background-color: $login_color;
            padding:14px;
        }
        .form-group{
            margin-bottom: 10px;
        }
    }*/
    .nav.navbar-nav.navbar-right li {
        height: $menu_height;
        color: #ff0000;
    }
}

.carousel{
    width: 100%;
    max-height: 100vh;
    margin-top: -$menu_height_div2;
    margin-bottom: $menu_height_div2;
    .carousel-indicators{
        margin-bottom: $menu_height_div2;
    }
    .carousel-control{
        padding-top: $menu_height_div2;
        padding-bottom: $menu_height_div2;

    }
}

.navparent{
    position: relative;
    z-index: 100;
    top: -$menu_height;
    width: 100%;
    .navbar{
        position: absolute;
        margin-bottom: 0px;
        border-bottom: 0px;
        width: 100%;
    }
}

.sections{
    position: relative;
    #section1 {padding-top: 50px;height: 500px;color: #fff;background-color: #1E88E5;}
    #section2 {padding-top: 50px;height: 500px;color: #fff;background-color: #673ab7;}
    #section3 {padding-top: 50px;height: 500px;color: #fff;background-color: #ff9800;}
    #section4 {padding-top: 50px;height: 500px;color: #fff;background-color: #1E88E5;}
    #section5 {padding-top: 50px;height: 500px;color: #fff;background-color: #673ab7;}
}

.footer{
    position: relative;
    background-color: $upper_color;
    color: #FFFFFF;
    height: $menu_height;
}
